.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-main {
  background-color: #AC4A83;
  height: 23rem;
  padding: 1rem;
  color: #FCEFF6;
}

.App-intro {
  margin-top: 2rem;
  font-size: large;
}
