.About-main {
  margin-top: 1rem;
  background-color: #AC4A83;
  height: 10rem;
  padding: 1rem;
  color: #FCEFF6;
}

.About-feature {
  display: flex;
  justify-content: center;
}

.About-content {
 width: 95vh;
 font-size: 1.75rem;
}
