.countdown-boxes {
  display: flex;
  justify-content: center;
}

.countdown-hours,
.countdown-minutes {
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
  width: 60px;
  height: 60px;
  margin-top: 3rem;
  margin-left: 0.9rem;
}
