.Landing-main {
  margin-top: 1rem;
  background-color: #AC4A83;
  height: 23rem;
  padding: 1rem;
  color: #FCEFF6;
}

.Landing-logo {
  height: 8rem;
  padding: 0.5rem;
}

.Landing-intro {
  margin-top: 2rem;
  font-size: large;
}
