.boxes {
  margin: 2rem 7rem 0 7rem;
}

.dash-boxes {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.task-box,
.fun-box,
.target-box {
  display: inline-flex;
  justify-content: center;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
  width: 15vh;
  height: 15vh;
}

.task-box {
  margin: 0 0.5rem;
}

.countdown {
  height: 150px;
  padding-right: 15rem;
  margin-top: 3.5rem;
}

.progressbar {
  margin: 4rem 0;
  border: 2px solid lightgray;
}
