.SetTimer {
  margin-top: 1rem;
}

.input-hours,
.input-minutes,
.input-seconds {
  margin: 1.5rem;
  display: inline-block;
}

.buttons {
  margin-top: 5rem;
}

.back,
.forward {
  padding: 1rem;
  margin: 1rem;
}
