.task-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vh;
  margin: 2rem auto;
  justify-content: center;
}

.grid-figure {
  margin: 0.5rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
}

.grid-figure.active {
  border: 3px solid #AC4A83;
}

.grid-button {
  border: none;
}

.grid-image {
  opacity: .75;
  display: block;
  width: 18vh;
  height: 18vh;
  transition: .5s ease;
  backface-visibility: hidden;
}
