.task-button {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.task-buttons {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.task-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  margin: 2rem auto;
  justify-content: center;
}

.grid-figure {
  margin: 0.5rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
}

.grid-figure.active {
  border: 3px solid #AC4A83;
}

.grid-button {
  border: none;
}

.grid-image,
.main-image {
  opacity: .75;
  display: block;
  width: 80px;
  height: 80px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.main-image {
  width: 13vh;
  height: 13vh;
}
